* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #F299D3;
    --third-color: #25F2B2;
    --black: #1e1e1e;
}

.dark_theme {
    --primary-color: #1e1e1e;
    --secondary-color: white;
    --third-color: #1e1e1e;
    --black: invert(72%) sepia(94%) saturate(364%) hue-rotate(281deg) brightness(97%) contrast(96%);
}

body {
    height: 100vh;
    background-color: var(--primary-color);
}

.title {
    color: white;
    font-family: helvetica;
    text-transform: uppercase;
    font-size: 4.3rem;
    position: absolute;
    max-width: 55rem;
    left: 100px;
    top: 100px;
}

.title__big {
    font-size: 6.5rem;
}

svg {
    display: block;
    pointer-events: none;
    /* transform-style: preserve-3d;*/
}

.eye_shape {
    fill: white;
}

.eye {
    fill: var(--third-color);
    stroke: #1e1e1e;
    stroke-width: 8;
    stroke-miterlimit: 10;
}

.eye_around {
    fill: var(--primary-color);
}

.eye_liner {
    fill: none;
    stroke: #1e1e1e;
    stroke-width: 8;
    stroke-miterlimit: 10;
    stroke-linecap: round;
}

.vlek {
    position: absolute;
    right: 0;
    top: 0;
    filter: var(--black);
    cursor: pointer;
}
.bg {
    position: relative;
    top: 0;
}
